
@-webkit-keyframes bounceIn {
    0%,20%,40%,60%,80%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    20% {
        -webkit-transform: scale3d(1.3,1.3,1.3);
        transform: scale3d(1.3,1.3,1.3)
    }

    40% {
        -webkit-transform: scale3d(.7,.7,.7);
        transform: scale3d(.7,.7,.7)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.1,1.1,1.1);
        transform: scale3d(1.1,1.1,1.1)
    }

    80% {
        -webkit-transform: scale3d(.9,.9,.9);
        transform: scale3d(.9,.9,.9)
    }

    to {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}
@keyframes bounceIn {
    0%,20%,40%,60%,80%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    20% {
        -webkit-transform: scale3d(1.3,1.3,1.3);
        transform: scale3d(1.3,1.3,1.3)
    }

    40% {
        -webkit-transform: scale3d(.7,.7,.7);
        transform: scale3d(.7,.7,.7)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.1,1.1,1.1);
        transform: scale3d(1.1,1.1,1.1)
    }

    80% {
        -webkit-transform: scale3d(.9,.9,.9);
        transform: scale3d(.9,.9,.9)
    }

    to {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

}

@-webkit-keyframes bounceChangeIn {
    0%,10%,20%,40%,60%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.65,.65,.65);
        transform: scale3d(.65,.65,.65)
    }

    10% {
        -webkit-transform: scale3d(.65,.65,.65);
        transform: scale3d(.65,.65,.65)
    }

    20% {
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    40% {
        opacity: 1;
        -webkit-transform: scale3d(1.5,1.5,1.5);
        transform: scale3d(1.5,1.5,1.5)
    }

    60% {
        -webkit-transform: scale3d(.6,.6,.6);
        transform: scale3d(.6,.6,.6)
    }

    to {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}
@keyframes bounceChangeIn {
    0%,10%,20%,40%,60%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.65,.65,.65);
        transform: scale3d(.65,.65,.65)
    }

    10% {
        -webkit-transform: scale3d(.65,.65,.65);
        transform: scale3d(.65,.65,.65)
    }

    30% {
        opacity: 1;
        -webkit-transform: scale3d(1.5,1.5,1.5);
        transform: scale3d(1.5,1.5,1.5)
    }

    60% {
        -webkit-transform: scale3d(.6,.6,.6);
        transform: scale3d(.6,.6,.6)
    }

    to {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

}

@-webkit-keyframes bounceChangeOut {
    0%,10%,20%,40%,60%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.65,.65,.65);
        transform: scale3d(.65,.65,.65)
    }

    10% {
        -webkit-transform: scale3d(.65,.65,.65);
        transform: scale3d(.65,.65,.65)
    }
    30% {
        opacity: 1;
        -webkit-transform: scale3d(1.5,1.5,1.5);
        transform: scale3d(1.5,1.5,1.5)
    }

    50% {
        -webkit-transform: scale3d(.6,.6,.6);
        transform: scale3d(.6,.6,.6)
    }
    70% {
        opacity: 1;
        -webkit-transform: scale3d(1.3,1.3,1.3);
        transform: scale3d(1.3,1.3,1.3)
    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(.6,.6,.6);
        transform: scale3d(.6,.6,.6)
    }

}
@keyframes bounceChangeOut {
    0%,10%,20%,40%,60%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.65,.65,.65);
        transform: scale3d(.65,.65,.65)
    }

    10% {
        -webkit-transform: scale3d(.65,.65,.65);
        transform: scale3d(.65,.65,.65)
    }
    30% {
        opacity: 1;
        -webkit-transform: scale3d(1.5,1.5,1.5);
        transform: scale3d(1.5,1.5,1.5)
    }

    50% {
        -webkit-transform: scale3d(.6,.6,.6);
        transform: scale3d(.6,.6,.6)
    }
    70% {
        opacity: 1;
        -webkit-transform: scale3d(1.3,1.3,1.3);
        transform: scale3d(1.3,1.3,1.3)
    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(.6,.6,.6);
        transform: scale3d(.6,.6,.6)
    }

}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes shake {
    0%,50%,75%,to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    52%,58%,62%,68%,72% {
        -webkit-transform: translate3d(-6px,0,0);
        transform: translate3d(-6px,0,0)
    }

    55%,60%,65%,70% {
        -webkit-transform: translate3d(6px,0,0);
        transform: translate3d(6px,0,0)
    }
}
@keyframes shake {
    0%,50%,75%,to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    52%,58%,62%,68%,72% {
        -webkit-transform: translate3d(-6px,0,0);
        transform: translate3d(-6px,0,0)
    }

    55%,60%,65%,70% {
        -webkit-transform: translate3d(6px,0,0);
        transform: translate3d(6px,0,0)
    }
}

@-webkit-keyframes wipeIn {
    0% {
        -webkit-clip-path: inset(0px 240px 0px 0px);
        -moz-clip-path: inset(0px 240px 0px 0px);
        -ms-clip-path: inset(0px 240px 0px 0px);
        -o-clip-path: inset(0px 240px 0px 0px);
        clip-path: inset(0px 240px 0px 0px);
    }
    to {
        -webkit-clip-path:inset(0px 0px 0px 0px);
        -moz-clip-path: inset(0px 0px 0px 0px);
        -ms-clip-path: inset(0px 0px 0px 0px);
        -o-clip-path:inset(0px 0px 0px 0px);
        clip-path:inset(0px 0px 0px 0px);
    }
}
@keyframes wipeIn {
    0% {
        -webkit-clip-path: inset(0px 240px 0px 0px);
        -moz-clip-path: inset(0px 240px 0px 0px);
        -ms-clip-path: inset(0px 240px 0px 0px);
        -o-clip-path: inset(0px 240px 0px 0px);
        clip-path: inset(0px 240px 0px 0px);
    }
    to {
        -webkit-clip-path:inset(0px 0px 0px 0px);
        -moz-clip-path: inset(0px 0px 0px 0px);
        -ms-clip-path: inset(0px 0px 0px 0px);
        -o-clip-path:inset(0px 0px 0px 0px);
        clip-path:inset(0px 0px 0px 0px);
    }
}

@-webkit-keyframes bobbingUpDown {
    0% {
        margin-top:0vw;
    }
    25% {
        margin-top:1vw;
    }
    50%{
        margin-top:0vw;
    }
    75%{
        margin-top:-1vw;
    }
    100%{
        margin-top:0vw;
    }

}
@keyframes bobbingUpDown {
    0% {
        margin-top:0vw;
    }
    25% {
        margin-top:1vw;
    }
    50%{
        margin-top:0vw;
    }
    75%{
        margin-top:-1vw;
    }
    100%{
        margin-top:0vw;
    }

}

@-webkit-keyframes bounceInUp {
    0%,60%,75%,90%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,3000px,0);
        transform: translate3d(0,3000px,0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0,-20px,0);
        transform: translate3d(0,-20px,0)
    }

    75% {
        -webkit-transform: translate3d(0,10px,0);
        transform: translate3d(0,10px,0)
    }

    90% {
        -webkit-transform: translate3d(0,-5px,0);
        transform: translate3d(0,-5px,0)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
@keyframes bounceInUp {
    0%,60%,75%,90%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,3000px,0);
        transform: translate3d(0,3000px,0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0,-20px,0);
        transform: translate3d(0,-20px,0)
    }

    75% {
        -webkit-transform: translate3d(0,10px,0);
        transform: translate3d(0,10px,0)
    }

    90% {
        -webkit-transform: translate3d(0,-5px,0);
        transform: translate3d(0,-5px,0)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,300px,0);
        transform: translate3d(0,300px,0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,300px,0);
        transform: translate3d(0,300px,0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes fadeOutRight {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0)
    }
}
@keyframes fadeOutRight {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0)
    }
}

.fadeOutRight {
    -webkit-animation: fadeOutRight 1s forwards;
    -moz-animation:fadeOutRight 1s forwards;
    -ms-animation:fadeOutRight 1s forwards;
    -o-animation:fadeOutRight 1s forwards;
    animation: fadeOutRight 1s forwards;
}
.fadeInRight {
    -webkit-animation: fadeInRight 1s;
    -moz-animation:fadeInRight 1s;
    -ms-animation:fadeInRight 1s;
    -o-animation:fadeInRight 1s;
    animation: fadeInRight 1s;
}
.bounceIn {
    -webkit-animation: bounceIn 1s;
    -moz-animation:bounceIn 1s;
    -ms-animation:bounceIn 1s;
    -o-animation:bounceIn 1s;
    animation: bounceIn 1s;
}
.bounceChangeIn{
    -webkit-animation:bounceChangeIn 1s;
    -moz-animation:bounceChangeIn 1s;
    -ms-animation:bounceChangeIn 1s;
    -o-animation:bounceChangeIn 1s;
    animation: bounceChangeIn 1s;
}
.bounceChangeOut{
    -webkit-animation:bounceChangeOut 1s forwards;
    -moz-animation:bounceChangeOut 1s forwards;
    -ms-animation:bounceChangeOut 1s forwards;
    -o-animation:bounceChangeOut 1s forwards;
    animation: bounceChangeOut 1s forwards;
}
.fadeIn-1s {
    -webkit-animation: fadeIn 1s;
    -moz-animation:fadeIn 1s;
    -ms-animation:fadeIn 1s;
    -o-animation:fadeIn 1s;
    animation: fadeIn 1s;
}
.fadeIn-2s {
    -webkit-animation: fadeIn 2s;
    -moz-animation:fadeIn 2s;
    -ms-animation:fadeIn 2s;
    -o-animation:fadeIn 2s;
    animation: fadeIn 2s;
}
.fadeIn-4s {
    -webkit-animation: fadeIn 4s;
    -moz-animation:fadeIn 4s;
    -ms-animation:fadeIn 4s;
    -o-animation:fadeIn 4s;
    animation: fadeIn 4s;
}
.fadeInDown {
    -webkit-animation: fadeInDown 1s;
    -moz-animation:fadeInDown 1s;
    -ms-animation:fadeInDown 1s;
    -o-animation:fadeInDown 1s;
    animation: fadeInDown 1s;
}
.wipeIn{
    -webkit-animation: wipeIn 2s forwards;
    -moz-animation:wipeIn 2s forwards;
    -ms-animation:wipeIn 2s forwards;
    -o-animation:wipeIn 2s forwards;
    animation: wipeIn 2s forwards;
}
.wipeIn-3s{
    -webkit-animation: wipeIn 3s forwards;
    -moz-animation:wipeIn 3s forwards;
    -ms-animation:wipeIn 3s forwards;
    -o-animation:wipeIn 3s forwards;
    animation: wipeIn 3s forwards;
}
.shake {
    -webkit-animation: shake 4s infinite;
    -moz-animation:shake 4s infinite;
    -ms-animation:shake 4s infinite;
    -o-animation:shake 4s infinite;
    animation: shake 4s infinite;
}
.bobbingUpDown{
    -webkit-animation:bobbingUpDown linear 2s infinite;
    -moz-animation:bobbingUpDown linear 2s infinite;
    -ms-animation:bobbingUpDown linear 2s infinite;
    -o-animation:bobbingUpDown linear 2s infinite;
    animation: bobbingUpDown linear 2s infinite;
}
.bounceInUp {
    -webkit-animation: bounceInUp 1s;
    -moz-animation:bounceInUp 1s;
    -ms-animation:bounceInUp 1s;
    -o-animation:bounceInUp 1s;
    animation: bounceInUp 1s;
}
.fadeInUpBig {
    -webkit-animation: fadeInUpBig 1s;
    -moz-animation:fadeInUpBig 1s;
    -ms-animation:fadeInUpBig 1s;
    -o-animation:fadeInUpBig 1s;
    animation: fadeInUpBig 1s;
}


