html,body{
    padding:0;
    margin:0;
}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f2f2f2;
}
.bg{
    margin: auto;
    position: absolute;
    top:-15vw; left: 0; bottom: 0; right: 0;
    width:80%;
}

.mon{
    font-size:10vw;
    font-family: 微软雅黑;
    color: #fff;
    position: absolute;
    top:44vw;
    left:20vw;
    width:60vw;
    height:24vw;
    line-height: 24vw;
}
.mon span:first-child{
    position: relative;
    left:6vw;
    display: inline-block;
    width: 20vw;
    text-align: center;
}
.mon span:last-child{
    position: relative;
    left:5vw;
    font-size: 8vw;
    display: inline-block;
    width:27vw;
    text-align: center;
    top:-1vw;
}
.des{
    position: absolute;
    top:78vw;
    left:20vw;
    width: 60vw;
    height: 60vw;
    text-align: center;
    font-size:4vw;
    color: #000;
    font-family: 微软雅黑;
}
.des p{
    padding-bottom:3vw;
}
.des img{
    width:36vw;
}


@media screen and (max-height:568px) and (min-width:320px) and (max-width:375px){
    .mon{
        font-size:10vw;
        font-family: 微软雅黑;
        color: #fff;
        position: absolute;
        top:36vw;
        left:20vw;
        width:60vw;
        height:30vw;
        line-height: 30vw;
    }
    .mon span{
        position: relative;
        left:9vw;
    }
    .des{
        position: absolute;
        top:72vw;
        left:20vw;
        width: 60vw;
        height: 60vw;
        text-align: center;
        font-size:4vw;
        color: #000;
        font-family: 微软雅黑;
    }
}
@media screen and (max-height:480px) and (max-width:320px){
    .mon{
        font-size:10vw;
        font-family: 微软雅黑;
        color: #fff;
        position: absolute;
        top:25vw;
        left:20vw;
        width:60vw;
        height:30vw;
        line-height: 30vw;
    }
    .mon span{
        position: relative;
        left:10vw;
    }
    .des{
        position: absolute;
        top:57vw;
        left:20vw;
        width: 60vw;
        height: 60vw;
        text-align: center;
        font-size:4vw;
        color: #000;
        font-family: 微软雅黑;
    }
}

@media screen and (min-height:740px){
    .mon{
        font-size:10vw;
        font-family: 微软雅黑;
        color: #fff;
        position: absolute;
        top:52vw;
        left:20vw;
        width:60vw;
        height:30vw;
        line-height: 30vw;
    }
    .mon span{
        position: relative;
        left:10vw;
    }
    .des{
        position: absolute;
        top:87vw;
        left:20vw;
        width: 60vw;
        height: 60vw;
        text-align: center;
        font-size:4vw;
        color: #000;
        font-family: 微软雅黑;
    }
}
